<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ensiklopedia tentang gunung di indonesia">
  <link rel="icon" href="./mountain.png">
 
  <title>SIDGI</title>
</head>
<body>
  <main id="mainContent"></main>
  <a href="#">Home</a>
  <a href="#/main">Kehalaman Utama</a>
  <a href="#/about-us">Kehalaman About Us</a>
  <a href="#/favorite">Kehalaman Favorite</a>
</body>
</html>