<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ensiklopedia tentang gunung di indonesia">
  <link rel="icon" href="./images/logomount.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <meta name="dicoding:email" content="cdwahyuutomo17@gmail.com">
  <title>SIDGI</title>
</head>
<body>
 
  <header>
    <nav>
      <div class="navbar">
        <div class="logo-name">
          <img class="logo-mount" src="./images/logomount.png" alt="">
          <H3>SIDGI</H3>
        </div>

      <div class="btn-hamburger" id="hamburgerButton">
        <button>&#9776;</button>
      </div>

      <div class="navbar-sidgi" id="navigationDrawer">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#/main">Content</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="#/about-us">AboutUs</a></li>
        </ul>
      </div>
      </div>
       
   </nav>
  </header>
    <main id="mainContent"></main>
    <div id="spinner" class="loading">
      Loading&#8230;     
    </div>
</body>
<footer>
  <p>C23-M4064 Dicoding | © 2023 - Sistem Informasi Data Gunung Indonesia</a></p>
</footer>
</html>