@media screen and (max-width:550px) {
    .navbar-sidgi {
        flex-direction: column;
        transition: 0.3s;
        align-items: center;
        justify-content: right;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.792);
        width: 100%;
        height: auto;
        top: 44px;
        right: -100%;
    }

    .navbar-sidgi ul { 
        flex-direction: column;
        text-align: center;
    }    
    
    .navbar-sidgi ul li a:hover {
       color: rgb(188, 186, 186);
    }
  
    .navbar-sidgi ul li a{
        color: rgb(0, 0, 0);
        font-weight: bolder;
  
    }
    .btn-hamburger button{
        display: block;
        color: white;
    }
    .navbar-sidgi.btn-on{
        right: 0;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 700px) {
    .about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
    }
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }