* {
  margin: 0;
  padding: 0;
}
nav{
  width: 100%;
  height: auto;
  background: #1C6758;
  position: relative;
  color: white;
}


.navbar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.navbar-sidgi ul{
  display: flex;
  list-style: none;

}
 
.navbar-sidgi ul li a{
  box-sizing: border-box;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: medium;
}

.navbar-sidgi ul li a:hover{
  color:rgb(238, 255, 1)
}

.btn-hamburger button {
  box-sizing: border-box;
  display: inline-block;
  min-height: 44px;
  min-width: 44px;
  font-weight: 800;
  font-size: 20px;
  background: none;
  border: none;
  display: none;
}

 /*
  Jumbotron
*/
.hero {
  display: flex;
  align-items: center;
  min-height: 505px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: Black !important
}
.heroinner {
  margin: 0 auto;
  max-width: 800px
}
.hero-title {
  color: #fff;
  font-size: 60px;
  text-shadow: 1px 1px #141414
}
.hero-desc {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px #141414
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #db0000bb;
  border: 1px solid var(--button);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.btn:hover {
  background-color: #db0000bb;
}

.btn:active {
  background-color: #db0000dd;
}

/*
Footer
*/

footer {
padding: 50px;
}

footer p {
text-align: center;
color: #3d3d3d;
}
/* .btn-harmburger{
  display: none;
} */
/*navbar*/
/*about*/
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.list {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 16px;
}
.about-container {
  justify-content: center;
  column-gap: 10px;
  display: flex;
  width: auto;
  height: auto;
  padding: 40px 0;
}
.slide-content {
  margin: 0 20px;
}
.card {
  width: 150px;
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.card-image {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3 ease;
}
.button:hover {
  background-color: #265DF2;
}