@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

.logo-mount{
  width: 7%;
}

nav{
  width: 100%;
  background: #1C6758;
  color: white;
}
.logo-name{
  display: flex;
  align-items: center;
}
.logo-name h3{
  font-size: 18px;
  margin-left: 5px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right:5%;
}

.navbar-sidgi ul{
  display: flex;
  list-style: none;

}
 
.navbar-sidgi ul li a{
  box-sizing: border-box;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: medium;
}

.navbar-sidgi ul li a:hover{
  color:rgb(238, 255, 1)
}

.btn-hamburger button {
  box-sizing: border-box;
  display: inline-block;
  min-height: 44px;
  min-width: 44px;
  font-weight: 800;
  font-size: 20px;
  background: none;
  border: none;
  display: none;
}

 /*
  Jumbotron
*/
.hero {
  display: flex;
  align-items: center;
  min-height: 510px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: Black !important
}
.heroinner {
  margin: 0 auto;
  max-width: 800px
}
.hero-title {
  color: #fff;
  font-size: 60px;
  text-shadow: 1px 1px #141414
}
.hero-desc {
  color: #fff;
  font-size: 17px;
  font-weight: 0;
  padding: 8px 8px;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color:#1C6758;
  border: 1px solid var(--button);
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.btn:hover {
  background-color: #0d473c;
}

.btn:active {
  background-color: #23806d;
}

/*
Footer
*/

footer {
padding: 25px;
}

footer p {
font-size: 15px;
text-align: center;
color: #3d3d3d;
}
/* .btn-harmburger{
  display: none;
} */
/*navbar*/
/*about*/
.about-us {
  text-align: center;
  padding: 20px;
}
.about {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 16px;
  width: fit-content;
}
.about-container {
  justify-content: center;
  column-gap: 10px;
  display: flex;
  width: auto;
  height: auto;
  padding: 10px 0;
}
.slide-content {
  margin: 0 20px;
}
.card {
  width: 300px;
  border-radius: 25px;
  background-color: #F5F3C1;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  text-align: center;
}
.image-content {
  position: relative;
  row-gap: 5px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1C6758;
  border-radius: 25px 25px 0 25px;
}
.card-image {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2F0F5D;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.id {
  font-size: 12px;
  text-decoration: underline;
  padding: 5px;
}
.description {
  font-size: 12px;
  color: #707070;
  text-align: center;
  padding: 5px;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #1C6758;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3 ease;
}
.button:hover {
  background-color: #2F0F5D;
}



/*
Main
*/

.main {
  /* margin: 30px 30px 30px; */
  margin: auto;
  text-align: left;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 100px; */
  /* row-gap: 50px;
  column-gap: 100px; */
  width: 80%;
  padding: 20px;
  flex: 1;
  justify-content: center;
  align-content: center;
}

/* .card-gunung {
  width: 150px;
  border-radius: 25px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
} */

.gunung-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 30px;
}

/* .gunung-item__header {
  position: relative;
} */

.gunung-poster {
  width: 100%;
  max-height: 150px;
  object-fit: fill;
}

.gunung-item .gunung-item__content {
  padding: 16px;
}

.gunung-item .gunung-item__content h3 {
  margin: 0 0 10px 0;
}

.gunung-item .gunung-item__content h3 a {
  color: saddlebrown;
  text-decoration: none;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.gunung-item .gunung-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
